.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 25px;
        width: 90%;
    }
}

.imageGallery {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
        width: 30%;
        margin: 0 5px;
    }
}