.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 25px;
        width: 90%;
    }

    .resume {
        margin-top: 30px;
    }
    .resume:hover {
        background-color: $accentColor;
    }
}

.imageGallery {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    img {
        width: 30%;
        margin: 0 5px;
    }
}