form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $fontFill;
    margin: 50px 0;
}
.userInfo {
    display: flex;
    width: 100%;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    input {
        margin-top: 10px;
        align-self: center;
        width: 85%;
        border: none;
        border-bottom: 3px solid $accentColor;
    }
}

textarea {
    width: 100%;
    margin: 50px 0 20px;
    padding: 10px;
    border: 3px solid $accentColor;
    height: 200px;
    resize: none;
}

input, textarea {
    background-color: rgba($color: #000000, $alpha: 0);
    border-radius: 0;
}

.contactMethods {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 10px 10px 0;
            padding: 10px;
            background-color: $lighter;
            a {
                margin-left: 5px;
            }
        }
    }
}