$accentColor: #800000;
$secondAccentColor: #E4AA48;
$lighter: #34343B;
$darker: #2E2E35;
$darkFill: #2B2B34;
$fontFill: #DADADA;
$thinFontFill: #959595;

*, h1 {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px 0;
}

body {
    background-color: $darker;
}

.wrapper {
    max-width: 1400px;
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
}

.colorAccent {
    color: $accentColor;
}

li {
    list-style: none;
}

.about, .skills, .content, .contactMethods ul li {
    background-color: $lighter;
}

.contactButton, button, .resume{
    background-color: rgba($color: #000000, $alpha: 0);
    border: 4px solid $accentColor;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

.contactButton:hover, button:hover {
    background-color: $accentColor;
        color: $fontFill;
}

.socialIcons {
    display: flex;
}