header {
    position: relative;
    overflow: hidden;
    h1, h4, p {
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 60px;
    }
}



.hero {
    max-width: 1600px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 5%;
    margin: 0 auto;
    overflow: hidden;
}

.title, .intro {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 300px;
    height: 80vh;
}


.heroImage {
    height: 85vh;
    width: calc(100% - 600px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.3s;
    
    img {
        height: 100%;
    }
}

.circle {
    background-color: #800000;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    z-index: -1;
}

.smallTitle {
    display: none;
    margin-bottom: 30px;
}

.fa-bars {
    font-size: 1.7rem;
}

.title h2:last-of-type {
    line-height: 1.3rem;

    a {
        transition: 0.3s;
    }

    a:hover {
        text-decoration: underline;
    }
}

.intro {
    align-items: start;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $accentColor;
    transition: 0.3s;
}

.learn:hover {
    .fa-chevron-down {
        animation: point 1s infinite;
    }
}

@keyframes point {
    from { transform: translateY(0);}
    50% {transform: translateY(10px);}
    to {transform: translateY(0);}
}