.hero {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 5%;
}

.title, .intro {
    padding-top: 25px;
    width: 300px;
    height: 80vh;
}

.heroImage {
    height: 85vh;
    width: calc(100% - 600px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

    img {
        height: 100%;
    }
}

.circle {
    background-color: $accentColor;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    z-index: -1;
}