@media(max-width: 1185px) {
    .intro {
        align-items: center;
        h4 {
            font-size: 2rem;
        }
        a {
            text-align: center;
        }
    }
    .skills ul li {
        width: 150px;
    }
}

@media(max-width: 1110px) {
    .intro {
        display: none;
    }
    .smallTitle {
        display: inline-block;
    }
}

@media(max-width:790px) {

    .wrapper {
        width: 90%;
    }

    #sidebar {
        flex-direction: column;
        align-items: end;
        position: absolute;
        height: 100vh;
        width: 130px;
        background-color: $accentColor;
        padding: 60px 30px;
        top: 0;
        right: -130px;
        z-index: 5;
        transition: 0.3s;

        li {
            margin-bottom: 25px;
            margin-right: 5px;
        }

        .remove {
            display: none;
        }
    }

    #sidebar.show {
        right: 0;
    }

    .mobileNav {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: 0.3s;
    }

    .mobileNav.show {
        right: 150px;
    }

    .heroImage, .title {
        height: 100%;
    }

    .title {
        padding-top: 100px;
    }

    .content {
        flex-direction: column;
        .imageContainer {
            width: 100%;
        }

        .descriptionContainer {
        width: 100%;
            li {
                margin: 0 5px;
        
                .fab, .fas {
                    font-size: 1.1rem;
                }
            }
    
            p {
                width: 100%;
            }
        }
        
    
        .skills ul li {
            width: 100px;
    
            .fab, .fas {
                font-size: 2rem;
            }
    
            p {
                font-size: 0.6rem;
            }
        }
    }

    .switch {
        top: 60px;
        right: 15px;
    }



    .media .video-container .video {
        width: 100%;
    }
}

@media(max-width: 625px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1rem;
    }

    .logo {
        height: 80%;
    }

    .musicHero {
        position: relative;
        right: 100px;
    }
}

@media(max-width: 505px) {

    nav {
        margin: 0 15px 0 10px;
    }

    .heroImage {
        right: -60px;
    }

    p {
        font-size: 0.9rem;
    }
}

@media(max-width: 440px) {

    .title {
        width: 70%;
    }
    h1 {
        font-size: 3rem;
    }
    .title h2:last-of-type {
        font-size: 0.8rem;
    }

    .contactMethods li {
        font-size: 0.8rem;
    }

}