nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 50px;

    ul {
        display: flex;

        li {
            margin-left: 20px;
        }

        a {
            transition: 0.3s;
        }

        a:hover {
            color: $accentColor;
        }
    }
}

.logo {
    height: 100%;
}

.fa {
    font-size: 1.2rem;
}