.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectGallery {
    display: flex;
    height: 500px;
    width: 80%;
    margin: 30px ;
}

.column {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.columnOne {
    width: 40%;
}

.columnThree {
    width: 30%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background-color: #B8B7B7;
    margin-bottom: 20px;
    padding: 10px 10px 5px;
    transition: 0.3s;

    img {
        height: 95%;
        margin-bottom: 5px;
    }

    p {
        color: $accentColor;

        a {
            color: $darkFill;
            transition: 0.3s;
        }
        a:hover {
            color: $accentColor;
        }
    }
}

.content:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.contentThree {
    height: 60%;
}

.contentFour {
    height: 40%;
}

.contentFive {
    height: calc(100% + 20px);
}