.projectGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .imageContainer {
        width: 50%;
        img {
            width: 100%;
        }
    }

    .descriptionContainer {
        width: 50%;

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 15px;
            }
        }

        p {
            
        }

    }
}