.projectGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 80%;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lighter;
    .imageContainer {
        width: 50%;
        img {
            width: 100%;
        }
    }

    .descriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        ul {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            li {
                margin: 0 15px;
                font-size: 1.5rem;
            }
        }

        p {
            max-width: 75%;
            margin: 25px;
        }

        a {
            transition: 0.3s;
        }
        
        a:hover {
            color: $accentColor;
            text-decoration: underline;
        }

    }
}