.skills {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;

        li {
            margin: 20px 0;
            width: 180px;
            height: 100px;

            .fas, .fab {
                font-size: 3rem;
                transition: 0.3s;
            }

            .fas:hover, .fab:hover {
                color: $accentColor;
            }

            p {
                margin-top: 10px;
                font-size: 0.8rem;
            }
        }
    }
}