@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@400;700&display=swap');

$primary: 'Open Sans', sans-serif;
$secondary: 'Nunito', sans-serif;


html {
    font-size: 125%;
    font-family: $primary;
    color: $fontFill;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.3rem;
    color: $accentColor;
}

h4 {
    font-size: 3rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $fontFill;
}

p {
    font-family: $secondary;
    color: $thinFontFill;
}

.about, .portfolio, .contact {
    text-align: center;
}