@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, h1 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 50px 0;
}

body {
  background-color: #2E2E35;
}

.wrapper {
  max-width: 1400px;
  width: 65%;
  margin: 0 auto;
}

.colorAccent {
  color: #800000;
}

li {
  list-style: none;
}

.about, .skills {
  background-color: #34343B;
}

.contactButton, button {
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid #800000;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactButton:hover, button:hover {
  background-color: #800000;
  color: #DADADA;
}

.mobile {
  display: none;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
  color: #DADADA;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.3rem;
  color: #800000;
}

h4 {
  font-size: 3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #DADADA;
}

p, input, textarea {
  font-family: "Nunito", sans-serif;
  color: #959595;
}

.about, .portfolio, .skills, .contact, footer {
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin: 0 50px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav ul a:hover {
  color: #800000;
}

.logo {
  height: 100%;
}

.fa {
  font-size: 1.2rem;
}

header h1, header h4, header p {
  margin-bottom: 30px;
}
header h2 {
  margin-bottom: 60px;
}

.hero {
  max-width: 1600px;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 5%;
  margin: 0 auto;
  overflow: hidden;
}

.title, .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  width: 300px;
  height: 80vh;
}

.heroImage {
  height: 85vh;
  width: calc(100% - 600px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.heroImage img {
  height: 100%;
}

.circle {
  background-color: #800000;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  z-index: -1;
}

.smallTitle {
  display: none;
  margin-bottom: 30px;
}

.fa-bars {
  font-size: 1.7rem;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bio p {
  margin-top: 25px;
  width: 90%;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.imageGallery img {
  width: 30%;
  margin: 0 5px;
}

.projectGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 80%;
  margin-top: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #34343B;
}
.content .imageContainer {
  width: 50%;
}
.content .imageContainer img {
  width: 100%;
}
.content .descriptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.content .descriptionContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.content .descriptionContainer ul li {
  margin: 0 15px;
  font-size: 1.5rem;
}
.content .descriptionContainer p {
  max-width: 75%;
  margin: 25px;
}
.content .descriptionContainer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content .descriptionContainer a:hover {
  color: #800000;
  text-decoration: underline;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  max-width: 800px;
}
.skills ul li {
  margin: 20px 0;
  width: 200px;
  height: 100px;
}
.skills ul li .fas, .skills ul li .fab {
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills ul li .fas:hover, .skills ul li .fab:hover {
  color: #800000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.skills ul li p {
  margin-top: 10px;
  font-size: 0.8rem;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #DADADA;
  margin: 50px 0;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}
.userContainer input {
  margin-top: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 85%;
  border: none;
  border-bottom: 3px solid #800000;
}

textarea {
  width: 100%;
  margin: 50px 0 20px;
  padding: 10px;
  border: 3px solid #800000;
  height: 200px;
  resize: none;
}

input, textarea {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

.contactMethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.contactMethods ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactMethods ul li {
  margin-left: 50px;
}
.contactMethods ul li a {
  margin-left: 5px;
}

footer {
  padding: 10px 0;
  border-top: 2px solid #800000;
}

@media (max-width: 1185px) {
  .intro h4 {
    font-size: 2rem;
  }
  .intro a {
    text-align: center;
  }

  .skills ul li {
    width: 150px;
  }
}
@media (max-width: 1110px) {
  .intro {
    display: none;
  }

  .smallTitle {
    display: inline-block;
  }
}
@media (max-width: 790px) {
  nav ul {
    display: none;
  }

  .mobile {
    display: inline-block;
  }

  .skills ul li {
    width: 100px;
  }
}